@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Signika', sans-serif;
}

.menu-active::before {
    @apply absolute content-[''] -bottom-2 h-[3px] bg-active left-0 w-full
}

.appear {
    @apply visible translate-x-0 translate-y-0 opacity-100 pointer-events-auto transform transition-all duration-500 ease-in
}